# Importamos las librerias a utilizar

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mtp

# Leemos los archivos

In [53]:
# Leemos las dos hojas del archivo homicidios 
hechos = pd.read_excel('../Data/homicidios.xlsx')
victimas = pd.read_excel('../Data/homicidios.xlsx',
                         sheet_name='VICTIMAS')

# Organizamos y analizamos el dataframe de hechos

In [54]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

Notamos que hay valores nulos en la columna cruce los cuales pueden ser hallados facil por medio de la columna Direccion Normalizada

In [57]:
# ELimino la columna Altura ya que tiene demasiados valores nulos y no lo considere necesario para el analisis
hechos.drop(columns='Altura', inplace=True)

In [62]:
# Remplazamos los valores nulos de la columna Direccion Normalizada
hechos['Dirección Normalizada'].fillna('No identificado', inplace=True)

In [76]:
# Remplazamos los valores nulos de la columna Calle
hechos['Calle'].fillna('No identificado', inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_29144\3227737865.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hechos['Calle'].fillna('No identificado', inplace=True)

In [71]:
# Realizamos una iteracion para hallar los cruces y poder llenar los valores faltantes desde la columna Direccion Normalizada
nuevoscruces = []
for indice in range(len(hechos)):     
    separados = hechos['Dirección Normalizada'][indice].split('y ')
    ultimoitem = len(separados)-1
    if ultimoitem == 0:
        nuevoscruces.append(hechos['Dirección Normalizada'][indice]) 
    else:
        nuevoscruces.append(separados[ultimoitem])

In [77]:
# Analizamos de nuevo que no tengamos valores nulos
hechos['Cruce'] = nuevoscruces
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  696 non-null    object
 11  Cruce                  696 non-null    object
 12  Dirección Normalizada  696 non-null    object
 13  COMUNA                 696 non-null    int64
 14  XY (CABA)              696 non-null    object
 15  pos x                  696 non-null    object
 16  pos y                  696 non-null    object
 17  PARTICIPANTES          696 non-null    object
 18  VICTIMA                696 non-null    object
 19  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(14)
memory usage: 108.9+ KB

Despues de no tener valores nulos y teniendo los valores completos procedo a tomar los valores mas relevantes para exportarlos en un archivo CSV

In [82]:
hechosnuevo = hechos[['ID','N_VICTIMAS','FECHA','HH','Cruce','COMUNA','pos x','pos y','VICTIMA','ACUSADO']]
hechosnuevo

,ID,N_VICTIMAS,FECHA,HH,Cruce,COMUNA,pos x,pos y,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,4,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,DE LOS CORRALES AV.,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,7,ENTRE RIOS AV. 2034,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,0,"VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO,SD
4,2016-0005,1,2016-01-21,5,"SAENZ PEÃ‘A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,17,MOM,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,1,LACARRA AV.,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,0,TERRADA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,10,"PERON, EVA AV. 4071",9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,6,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA,AUTO

In [83]:
hechosnuevo.rename(columns={'ID':'ID_hecho','Cruce':'CRUCE','pos x':'LONGITUD','pos y':'LATITUD'},inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_29144\3842734623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hechosnuevo.rename(columns={'ID':'ID_hecho','Cruce':'CRUCE','pos x':'LONGITUD','pos y':'LATITUD'},inplace=True)

In [108]:
hechosnuevo['HH'].replace({'SD':0},inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_29144\1923391968.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hechosnuevo['HH'].replace({'SD':0},inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_29144\1923391968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hechosnuevo['HH'].replace({'SD':0},inplace=True)

In [114]:
hechosnuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID_hecho    696 non-null    object
 1   N_VICTIMAS  696 non-null    int64
 2   FECHA       696 non-null    datetime64[ns]
 3   HH          696 non-null    int64
 4   CRUCE       696 non-null    object
 5   COMUNA      696 non-null    int64
 6   LONGITUD    696 non-null    object
 7   LATITUD     696 non-null    object
 8   VICTIMA     696 non-null    object
 9   ACUSADO     696 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 54.5+ KB

In [115]:
hechosnuevo.to_csv('../Data/CSV/hechos_homicidios.csv')

Procedo a hacer lo mismo con el dataframe de Victimas

In [95]:
# Analizamos el dataframe
victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [117]:
# Al no tener nulos unicamente tomare las columnas que considero mas importantes
victimasnuevo = victimas[['ID_hecho','FECHA','ROL','VICTIMA','SEXO','EDAD']]

In [118]:
victimasnuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_hecho  717 non-null    object
 1   FECHA     717 non-null    datetime64[ns]
 2   ROL       717 non-null    object
 3   VICTIMA   717 non-null    object
 4   SEXO      717 non-null    object
 5   EDAD      717 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 33.7+ KB

In [119]:
# Exportamos a un archivo CSV
victimasnuevo.to_csv('../Data/CSV/victimas_homicidios.csv')